* {
  box-sizing: border-box;
}
body {
  padding: 1rem;
}
h1 {
  color: white;
  background-color: blue;
}

pre {
  border: 1px dashed red;
  background-color: black;
}

.sidenav * {
  list-style-type: none;
  padding:0px;
}

pre {
  overflow-x: auto !important;
  white-space: pre-wrap !important;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
  white-space: -pre-wrap !important;      /* Opera 4-6 */
  white-space: -o-pre-wrap !important;    /* Opera 7 */
  word-wrap: break-word !important;       /* Internet Explorer 5.5+ */
}

code{
  /* white-space: normal !important; */
} 
@media screen and (min-width: 550px) {
  body{
    display: flex;
  }
  nav{
    flex:1;
  }
  .sidenav {
    flex:7;
  }
  pre,code {
    font-size: x-small;
  }
}
