@import url('https://fonts.cdnfonts.com/css/liberation-serif');
/* @import url('https://cdnjs.cloudflare.com/ajax/libs/hack-font/3.3.0/web/hack.min.css'); */

body {
    padding: 1rem !important;
    /* font-family: 'Liberation Serif',serif; */
}

.NAVHEADER>table,
.NAVFOOTER>table {
    color: chocolate;
}

h1 {
    color: green;
    /* font-size: larger; */
}

tt.prompt {
    color: green;
    /* font-size: large; */
}

strong>p {
    color: black;
}

.parameter {
    color: chocolate;
    font-size: large;
}

.command {
    color: rgb(184, 107, 39);
}

.filename {
    color: rgb(14, 109, 109);
    font-size: large;
}

/* p{
 font-size: 1rem;
} */

img[alt="Warning"] {
    width: 25px;
}

.command {
    border: 1px solid black;
    padding: 1px;
}

.command,
.function {
    font-size: medium;
}

.sect2>p {
    color: black;
}

pre {
    /* font-family: Hack, monospace;  */
    font-size: 1rem;
    color: white;
}

.code-box>pre {
    max-width: 90vw !important;
    text-wrap: pretty;
    background-color: black;
    padding:1rem;
}

.sect2 {
    color: blue;
}