div.content{
 list-style: none;
 justify-content: space-evenly;
 grid-template-columns: 1fr 1fr;
 grid-auto-rows: 300px;
 column-gap: ;
 row-gap: ;
 }

 @media screen and (width <=400px) {
  div.content{
   grid-template-columns: 1fr;
  }  
 }