* {
  box-sizing: border-box;
}

body {
  padding: 1rem;
}
h1 {
  color: white;
  background-color: blue;
}

pre {
  border: 1px dashed red;
  background-color: black;
}

.sidenav * {
  list-style-type: none;
  padding:0px;
}

pre {
  overflow-x: auto !important;
  white-space: pre-wrap !important;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
  white-space: -pre-wrap !important;      /* Opera 4-6 */
  white-space: -o-pre-wrap !important;    /* Opera 7 */
  word-wrap: break-word !important;       /* Internet Explorer 5.5+ */
}

code{
  /* white-space: normal !important; */
} 
@media screen and (max-width: 549px) {
  body{
    display: flex;
    flex-direction: column;
    padding:1rem!important;
    font-size: small!important;
  }
  .sidenav > ul>ul{
    display: flex;
    flex-wrap: wrap;
    border:1px solid black;
  }
  .sidenav{
    
  }
  .sidenav li{
    display: flex;
    flex-direction: column;
    padding-left: 0.3rem;
  }
  
  #content {

  }
  pre{
    font-size: small!important;
  }
  
}
@media screen and (min-width: 550px) {
  body{
    display: flex;
  }
  .sidenav > ul>ul{
    border:1px solid black;
  }
  .sidenav{
    flex:2;
  }
  .sidenav li{
    padding-left: 0.3rem;
  }
  
  #content {
    flex:7;
  }
  
}
